.next-button {
	border: $spacing-primary solid $marineBlue;
	background-color: $marineBlue;
	border-radius: $spacing-sm;
	font-weight: $ubuntu-bold;
	color: $white;
	padding: $spacing-sm $spacing-lg;
}
