.step-nav {
	&-menu {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: $spacing-xxl + 1.5rem;
		width: 100%;
		height: 100%;
		padding: $spacing-base;
		&-item {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: $spacing-base;
			border: none;
			background-color: transparent;
			width: 100%;

			&-number {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 3rem;
				height: 3rem;
				border: $spacing-primary solid $white;
				border-radius: 50%;
				color: $white;
				font-weight: $ubuntu-bold;
			}
			&-text {
				color: $white;
				text-transform: uppercase;
			}
			&-title {
				font-weight: $ubuntu-bold;
			}

			&-active {
				.step-nav-menu-item-number {
					background-color: $lightBlue;
					color: $marineBlue;
				}
			}
		}
	}
}
